<h1>All Japan Eathquakes</h1>

<div data-src="<%= plot_quakes_url(:format => :json) %>" class="magnitude timeplot"></div>

<table>

<% @quakes.each do |quake| %>
  <tr>
    <td><%= l quake.quake_time %></td>
    <td><%= quake.magnitude %></td>
    <td><a href="<%= url_for quake %>">Show</a></td>
    <td><a href="<%= quake.tenki_url %>">Tenki</a></td>
    <td><a href="<%= quake.yahoo_url %>">Yahoo</a></td>
  </tr>
<% end %>
</table>
