<h1>Earthquake intensities in <%= @city.name %></h1>

<div data-src="<%= plot_city_url(:format => :json) %>" class="intensity timeplot"></div>

<table>
<% @city.intensities.each do |intensity| %>
  <tr>
    <td><%= l intensity.time %></td>
    <td><%= intensity.value %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Back', cities_path %>
